@use '../fonts.scss';
.news {
    background: linear-gradient(179.99deg, #ECEFF2 0.01%, #ECEFF2 71.4%, rgba(255, 255, 255, 0) 91.99%);
    border-radius: 60px;
    padding: 120px 153px;
    width: 1520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 170px auto 50px auto;
    & h1 {
        @extend %font-h1;
    }
    &__subtitle {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 842px;
        & h2 {
            width: 718px;
            text-align: center;
            @extend %font-h2;
            margin: 0;
        }
    }
    &__button {
        background: #D52F3B;
        border-radius: 60px;
        padding: 22px 93px;
        @extend %font-h3;
        color: #FFFFFF;
    }
}

.news-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #FFFFFF;
    width: 296px;
    height: 440px;
    padding: 34px 20px;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    margin-top: 90px;
    margin-bottom: 60px;
    &:hover {
        background-color: #7859BC;
        & .news-cards__title {
            color: #FFFFFF;
        }
        & .news-cards__description {
            color: rgba(255, 255, 255, 0.7);
        }
        & .news-cards__time {
            color: rgba(255, 255, 255, 0.7);
        }
        & .news-cards__date {
            color: rgba(255, 255, 255, 0.7);
        }
        & .news-cards__clock {
            display: none;
        }
        & .news-cards__clock_hover {
            display: block;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        width: 1214px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
    }
    &__tag {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 150%;
        color: #59BC5F;
        text-transform: uppercase;
    }
    &__title {
        @extend %font-h4;
        font-weight: bold;
    }
    &__description {
        @extend %font-h4;
        color: rgba(50, 50, 50, 0.7);
    }
    &__datetime {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    &__time-block {
        display: flex;
        align-items: center;
    }
    &__clock {
        width: 20px;
        height: 20px;
        &_hover {
            display: none;
        }
    }
    &__time {
        @extend %font-h4;
        color: rgba(50, 50, 50, 0.5);
    }
    &__date {
        @extend %font-h4;
        color: rgba(50, 50, 50, 0.5);
    }
    &__image {
        position: absolute;
        top: -20px;
        left: 10px;
    }
}