.about-icons {
    background: linear-gradient(89.28deg, #7859BC 14.13%, #5663ED 86.14%);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 235px;
    &__icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 335px;
        color: white;
    }
    &__description {
        display: block;
        max-width: 256px;
        width: 256px;
        font-size: 16px;
        font-family: Roboto;
    }
    &__short {
        width: 240px;
    }
    &__text {
        height: 100px;
    }
}

.about-numbers {
    display: flex;
    justify-content: center;
    &__txt {
        h1 {
            margin: 0;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 130%;
            margin-right: 20px;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
        width: 300px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 130%;
        color: #323232;
    }
    &__title {
        display: flex;
    }
    &__stats {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 130%;
        color: #323232;
        span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 130%;
            color: #7859BC;
            margin-right: 30px;
            text-align: right;
            width: 100px;
        }
    }
    &__stat {
        display: flex;
    }
}